# Dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts

# Build
build/
dist/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
